body {
    background-image: image(Loja de pets com animaizinhos fofospng);
}
h1 {
    display: inline-block;
    font-size: 50px;
    color: white;
    background-color: #187418;
     text-align: center; 
    margin-left: 20px;
}
 